---
import SkillCard from "~/components/SkillCard.astro";

const skillList = [
	{ icon: "devicon:html5", name: "HTML5" },
	{ icon: "devicon:css3", name: "CSS3" },
	{ icon: "logos:javascript", name: "JavaScript" },
	{ icon: "devicon:typescript", name: "TypeScript" },
	{ icon: "logos:vitejs", name: "Vite" },
	{ icon: "logos:react", name: "React" },
	{ icon: "logos:nextjs-icon", name: "Next.js" },
	{ icon: "skill-icons:remix-dark", name: "Remix" },
	{ icon: "vscode-icons:file-type-astro", name: "Astro" },
	{ icon: "devicon:tailwindcss", name: "Tailwind CSS" },
	{ icon: "logos:hono", name: "Hono" },
	{ icon: "logos:cloudflare-icon", name: "Cloudflare" },
	{ icon: "logos:cloudflare-workers-icon", name: "Cloudflare Workers" },
	{ icon: "skill-icons:vercel-dark", name: "Vercel" },
	{ icon: "devicon:pnpm", name: "pnpm"},
	{ icon: "skill-icons:github-dark", name: "GitHub" },
];
---

<section class="flex flex-col gap-4">
  <p>다음 기술들을 사용하여 웹 애플리케이션을 빌드하고 배포합니다.</p>
  <div class="flex gap-2 flex-wrap">
    {
      skillList.map(skill => (
        <SkillCard icon={skill.icon} name={skill.name} />
      ))
    }
  </div>
</section>