---
import TypeScriptIcon from "~icons/tech/typescript.svg";
import ReactIcon from "~icons/tech/react.svg";
import ViteIcon from "~icons/tech/vite.svg";
import HonoIcon from "~icons/tech/hono.svg";
import TailwindIcon from "~icons/tech/tailwindcss.svg";
import RouterIcon from "~icons/tech/reactrouter.svg";
import AstroIcon from "~icons/tech/astro.svg";
import CloudflareIcon from "~icons/tech/cloudflare-workers.svg";
import TechStackCard from "./TechStackCard.astro";

const techStack = [
  { name: "TypeScript", icon: TypeScriptIcon },
  { name: "React", icon: ReactIcon },
  { name: "Vite", icon: ViteIcon },
  { name: "Hono", icon: HonoIcon },
  { name: "Tailwind CSS", icon: TailwindIcon },
  { name: "React Router", icon: RouterIcon },
  { name: "Astro", icon: AstroIcon },
  { name: "Cloudflare Workers", icon: CloudflareIcon },
];
---

<div
  class="mx-auto grid max-w-3xl grid-cols-2 gap-6 sm:grid-cols-3 md:grid-cols-4"
>
  {
    techStack.map((tech) => (
      <TechStackCard name={tech.name}>
        <tech.icon size={48} />
      </TechStackCard>
    ))
  }
</div>
