---
import { getCollection } from "astro:content";
import Layout from "~/layouts/Layout.astro";
import "~/styles/code-highlight.css";

export async function getStaticPaths() {
	const postsCollection = await getCollection("posts");

	return postsCollection.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const proseInitClass =
	"prose prose-headings:my-0 prose-p:my-0 prose-ol:my-0 prose-pre:my-0";
---

<Layout title={entry.data.title}>
	<article class:list={[proseInitClass, 'prose-h1:mb-8 prose-h2:mb-4 prose-h3:mb-4 prose-pre:mb-4 prose-ol:mb-4 prose-pre:overflow-x-hidden']}>
		<h1>{entry.data.title}</h1>
		<Content />
	</article>
</Layout>