---
import { getCollection } from "astro:content";
import Layout from "~/layouts/Layout.astro";
import "~/styles/code-highlight.css";

export async function getStaticPaths() {
	const postsCollection = await getCollection("posts");

	return postsCollection.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
	<article class="prose prose-headings:text-white prose-p:text-white prose-li:text-white prose-strong:text-white prose-pre:border">
		<h1>{entry.data.title}</h1>
		<Content />
	</article>
</Layout>