---
import { getCollection } from "astro:content";
import ShowDate from '~/components/ShowDate.astro';
import Layout from "~/layouts/Layout.astro";
import type { Meta } from "~/types";

export async function getStaticPaths() {
	const postsCollection = await getCollection("posts");

	return postsCollection.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const {
	entry: {
		render,
		slug,
		data: { title, description, updatedAt },
	},
} = Astro.props;

const { Content } = await render();

const meta: Meta = {
	title,
	description,
	path: `posts/${slug}`,
};
---

<Layout {...meta}>
  <article class="mx-auto prose prose-pre:border">
    <section class="border-b pb-6">
      <h1 class="mb-0 leading-[50px]">{title}</h1>
      <span class="text-sm">업데이트: <ShowDate date={updatedAt} /></span>
    </section>
    <Content />
  </article>
</Layout>