---
import { getCollection } from "astro:content";
import Layout from "~/layouts/Layout.astro";
import { parseDate } from "~/utils/date";

export async function getStaticPaths() {
	const postsEntries = await getCollection("posts");
	return postsEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <main class="space-y-4">
    <section class="border-slate-400 border-b pb-4 space-y-1 text-right">
      <time class="text-xs">{parseDate(entry.data.pubDate)}</time>
      <h1>{entry.data.title}</h1>
    </section>
    <article
      class="prose prose-headings:text-slate-200 prose-headings:mb-4 prose-p:text-slate-400 prose-p:mt-0 prose-code:text-slate-400"
    >
      <Content />
    </article>
  </main>
</Layout>
