---
import PostList from "~/components/PostList.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Posts - Junseong Park">
  <main>
    <h1 class="mb-8">Posts</h1>
    <PostList />
  </main>
</Layout>
