---
import { getCollection } from "astro:content";
import Layout from "~/layouts/Layout.astro";

const allPosts = await getCollection("posts");
---

<Layout title="Posts - Junseong Park">
  <main>
    <h1 class="mb-4">Posts</h1>
    <ul class="space-y-2">
      {
        allPosts.map((post) => (
          <li>
            <a href={`/posts/${post.slug}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
