---
import BaseLayout from "~/layouts/BaseLayout.astro";
import Head from "~/components/Head.astro";
import BlogPostList from "./_components/BlogPostList.astro";
import BlogPostTitle from "./_components/BlogPostTitle.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "~/consts";
---

<!doctype html>
<html lang="en">
  <Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <BaseLayout>
    <div class="space-y-8">
      <BlogPostTitle />
      <BlogPostList />
    </div>
  </BaseLayout>
</html>
