---
import BaseLayout from "~/layouts/BaseLayout.astro";
import Head from "~/components/Head.astro";
import BlogPostList from "./_components/BlogPostList.astro";
import BlogPostTitle from "./_components/BlogPostTitle.astro";
import { AUTHOR } from "~/consts";
---

<!doctype html>
<html lang="en">
  <Head
    title={`${AUTHOR}'s Tech Blog | All Posts`}
    description="Explore the latest posts on various development topics at Junseong Park's Tech Blog. We provide valuable information on software development, web development, tech trends, and more."
  />
  <BaseLayout>
    <div class="space-y-8">
      <BlogPostTitle />
      <BlogPostList />
    </div>
  </BaseLayout>
</html>
