body {
    overflow-y: scroll;
}

.site-title span {
    font-family: "JetBrains Mono Variable", monospace;
    font-weight: 800;
}

.hero {
    padding-bottom: 20px;
    h1 {
        font-family: "JetBrains Mono Variable", monospace;
        font-weight: 800;
    }
}

#intro {
    ul {
        padding-inline-start: 20px;
        code {
            font-family: "JetBrains Mono Variable", monospace;
            font-weight: 600;
        }
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

#sc-list {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 50rem) {
        display: block;
    }
    span {
        font-family: "JetBrains Mono Variable", monospace;
        font-weight: 600;
    }
}
