.hero {
    padding-bottom: 20px;
}

#intro {
    ul {
        padding-inline-start: 20px;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

#social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 50rem) {
        display: block;
    }
}
