@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/Inter-Variable.woff2') format('woff2');
  }

  a {
    text-decoration: underline;
    transition: all 0.2s;
    &:hover {
      opacity: 0.5;
    }
  }
}