@import "tailwindcss";
@import "./fonts.css";
@import "./keyframes.css";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Geist";
  --font-mono: "JetBrains Mono";
}

.bg-grid-pattern {
  background-image:
    linear-gradient(to right, #e0e7ff 1px, transparent 1px),
    linear-gradient(to bottom, #e0e7ff 1px, transparent 1px);
  background-size: 20px 20px;
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
}
