---
import Layout from "~/layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const allTags = Array.from(
    new Set(allPosts.map((post) => post.data.tags).flat()),
  );

  return allTags.map((tag) => ({
    params: { id: tag },
    props: { id: tag, allPosts },
  }));
}

const { id, allPosts } = Astro.props;
const filteredPosts = allPosts.filter((post) => post.data.tags.includes(id));
---

<Layout>
  <div class="flex flex-col gap-20">
    <section class="flex flex-col gap-4">
      <h1 class="text-5xl">{id} 태그</h1>
      <p class="text-2xl">총 {filteredPosts.length}개의 게시물이 있습니다.</p>
      <hr />
      <ul>
        {
          filteredPosts.map((post) => {
            return (
              <li>
                <a href={`/posts/${post.slug}`} class="hover:underline">
                  {post.data.title}
                </a>
              </li>
            );
          })
        }
      </ul>
    </section>
  </div>
</Layout>
