---
import Layout from "~/layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col gap-10">
    <h1 class="text-3xl">존재하지 않는 페이지</h1>
    <ul>
      <li>
        <a href="/" class="hover:text-yellow-300 transition-color duration-300"
          >메인 페이지로 돌아가기 &rarr;</a
        >
      </li>
      <li>
        <a
          href="/posts"
          class="hover:text-yellow-300 transition-color duration-300"
          >게시물 구경하기 &rarr;</a>
      </li>
    </ul>
  </div>
</Layout>
