---
import Link from '~/components/Link.astro'
import Layout from '~/layouts/layout.astro'

const links = [
	{
		name: 'Github',
		href: 'https://github.com/jsparkdev',
		desc: 'Visit my Github',
	},
	{
		name: 'Twitter',
		href: 'https://x.com/jsparkdev',
		desc: 'Follow me on Twitter',
	},
]
---

<Layout>
  <h1 class="text-3xl font-extrabold animate-slide-up">Junseong Park</h1>
  <p class="my-4 animate-slide-up [animation-delay:0.3s]">
    Hello! I am a web frontend developer in South Korea. I am passionate about the latest technologies like <Link href="https://vitejs.dev" title="Vite">Vite</Link>, <Link href="https://remix.run" title="Remix">Remix</Link>, and <Link href="https://astro.build" title="Astro">Astro</Link>, and I always enjoy embracing new challenges. I look forward to growing and evolving together!
  </p>
  <ul class="flex gap-2 animate-slide-up [animation-delay:0.6s]">
    {
      links.map(link => 
        <li>
          <Link href={link.href} title={link.desc}>{link.name}</Link>
        </li>
      )
    }
  </ul>
</Layout>