---
import BaseLayout from "~/layouts/BaseLayout.astro";
import Head from "~/components/Head.astro";
import Title from "./_components/Title.astro";
import Introduction from "./_components/Introduction.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "~/consts";
---

<!doctype html>
<html lang="en">
  <Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <BaseLayout>
    <div class="space-y-12 text-center">
      <Title />
      <Introduction />
    </div>
  </BaseLayout>
</html>
