---
import Layout from "~/layouts/Layout.astro";
import TechStack from "~/components/TechStack.astro";
---

<Layout title="Junseong Park - Frontend Developer">
  <main class="space-y-8">
    <section>
      <h1 class="mb-1">Junseong Park</h1>
      <span>Frontend Developer</span>
    </section>
    <section>
      I develop web applications primarily with the Remix and Astro frameworks. Additionally, I have a keen interest in the latest technologies and open-source projects.
    </section>
    <section>
      <h2 class="mb-4">Tech Stack</h2>
      <TechStack />
    </section>
  </main>
</Layout>
