---
import Link from "~/components/Link.astro";
import Layout from "~/layouts/Layout.astro";

const stack = [
  { name: "React", href: "react.dev" },
  { name: "Remix", href: "remix.run" },
  { name: "Astro", href: "astro.build" },
  { name: "Vite", href: "vitejs.dev" },
];

const profile = [
  { name: "Github", href: "github.com/jsparkdev" },
  { name: "Twitter", href: "x.com/jsparkdev" },
  { name: "Linkedin", href: "linkedin.com/in/jsparkdev" },
];
---

<Layout
  description="박준성 (Junseong Park) 웹 프론트엔드 (React, Remix, Astro, Vite) 웹 성능 최적화 및 사용자 경험 개선"
>
  <main class="flex flex-col gap-10 text-3xl">
    <div class="flex flex-col gap-4">
      <p>웹 프론트엔드 개발자 박준성입니다.</p>
      <p>
        {
          stack.map((item, index) => [
            <Link type="homepage" {...item} />,
            `${index === stack.length - 1 ? "" : ", "}`,
          ])
        }와 같은 기술에 관심이 많습니다.
      </p>
      <p>또한 웹 성능 최적화 및 사용자 경험을 개선하는 일에 관심이 많습니다.</p>
    </div>
    <div class="flex flex-col gap-6">
      <ul class="flex gap-2 justify-end">
        {
          profile.map((item) => (
            <li>
              <Link type="profile" {...item} />
            </li>
          ))
        }
      </ul>
      <a
        href="/posts"
        class="hover:underline text-right"
        title="게시물 목록으로 이동합니다.">게시물 보러가기 &rarr;</a
      >
    </div>
  </main>
</Layout>
