---
import About from "~/components/homepage/About.astro";
import RecentPosts from "~/components/homepage/RecentPosts.astro";
import Layout from "~/layouts/Layout.astro";
import type { Meta } from "~/types";

const meta: Meta = {
	title: "Junseong Park",
	description:
		"웹 프런트엔드 개발자 박준성의 웹 사이트입니다. 이 웹 사이트는 개발자 박준성에 대한 정보를 제공하고, 웹 애플리케이션을 빌드하고 배포하면서 얻은 지식과 경험을 공유합니다.",
};
---

<Layout {...meta} >
  <section class="max-w-[600px] mx-auto flex flex-col gap-10">
    <About />
    <RecentPosts />
  </section>
</Layout>