---
import Link from '~/components/Link.astro'
import Layout from '~/layouts/layout.astro'

const links = [
	{
		name: 'Github',
		href: 'https://github.com/jsparkdev',
		desc: 'Visit my Github',
	},
	{
		name: 'Twitter',
		href: 'https://x.com/jsparkdev',
		desc: 'Follow me on Twitter',
	},
]
---

<Layout>
  <h1 class="text-3xl font-extrabold animate-slide-up">Junseong Park</h1>
  <p class="my-4 animate-slide-up [animation-delay:0.3s]">
    Hello! I'm a web developer based in South Korea, passionate about building web applications with tools like <Link href='https://vitejs.dev' title='Vite'>Vite</Link> and <Link href='https://react.dev' title='React'>React</Link>. I have a keen interest in the latest technology trends and am dedicated to enhancing both user and developer experiences.
  </p>
  <ul class="flex gap-2 animate-slide-up [animation-delay:0.6s]">
    {
      links.map(link => 
        <li>
          <Link href={link.href} title={link.desc}>{link.name}</Link>
        </li>
      )
    }
  </ul>
</Layout>