---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Junseong Park - Frontend Developer">
  <main class="space-y-2">
    <h1 class="text-4xl font-extrabold text-slate-200 mb-4">Junseong Park</h1>
    <h2>Frontend Developer</h2>
    <h2>x@jspark.dev</h2>
  </main>
</Layout>
