---
import Link from '~/components/Link.astro'
import Layout from '~/layouts/layout.astro'

const links = [
	{
		name: 'Github',
		href: 'https://github.com/jsparkdev',
		desc: 'Visit my Github',
	},
	{
		name: 'Twitter',
		href: 'https://x.com/jsparkdev',
		desc: 'Follow me on Twitter',
	},
]
---

<Layout>
  <h1 class="text-3xl font-extrabold animate-slide-up">Junseong Park</h1>
  <ul class="my-4">
    <li class="animate-slide-up [animation-delay:0.3s]">Frontend Developer based in South Korea</li>
    <li class="animate-slide-up [animation-delay:0.4s]">Passionate about 
      <Link href='https://typescriptlang.org' title='TypeScript'>TypeScript</Link>,
      <Link href='https://vitejs.dev' title='Vite'>Vite</Link>,
      <Link href='https://react.dev' title='React'>React</Link>,
      <Link href='https://astro.build' title='Astro'>Astro</Link>,
      <Link href='https://remix.run' title='Remix'>Remix</Link>
    </li>
    <li class="animate-slide-up [animation-delay:0.5s]">Focused on improving user experiences</li>
    <li class="animate-slide-up [animation-delay:0.6s]">Prefers simple and fast things</li>
  </ul>
  <ul class="flex gap-2 animate-slide-up [animation-delay:0.7s]">
    {
      links.map(link => 
        <li>
          <Link href={link.href} title={link.desc}>{link.name}</Link>
        </li>
      )
    }
  </ul>
</Layout>