<div class="bg-slate-200 text-black ring-slate-900 flex items-center gap-2 px-4 py-1.5 rounded-xl shadow-xl cursor-pointer hover:-translate-y-1 hover:scale-105 duration-500 hover:bg-slate-400  hover:text-white hover:ring-2 ring-offset-4 dark:ring-white dark:ring-offset-slate-900 mb-3">
  <slot />
</div>