---
---

<header class="flex portrait:flex-col portrait:gap-10 justify-between items-center px-16 py-5">
  <a href="/" class="flex items-center gap-3 hover:opacity-50" title="홈 페이지로 이동">
    <p>jspark.dev</p>
  </a>
  <nav>
    <ul class="flex gap-8">
      <li><a class="hover:opacity-50" href="https://github.com/jsparkdev" title="Github로 이동">Github</a></li>
      <li><a class="hover:opacity-50" href="https://linkedin.com/in/jsparkdev" title="Linkedin으로 이동">Linkedin</a></li>
      <li><a class="hover:opacity-50" href="https://x.com/jsparkdev" title="Twitter로 이동">Twitter</a></li>
    </ul>
  </nav>
</header>