---
import ScrollWatcher from './ScrollWatcher.astro'
import SocialLink from './SocialLink.astro'

const socialList = [
	{
		name: 'ri:github-line',
		href: 'https://github.com/jsparkdev',
		title: 'Github로 이동합니다.',
	},
	{
		name: 'ri:twitter-x-line',
		href: 'https://x.com/jsparkdev',
		title: 'X로 이동합니다.',
	},
]
---

<header class="fixed w-full backdrop-blur z-40">
  <nav class="flex justify-between items-center px-6 landscape:px-16 py-3">
    <a href="/" class="font-extrabold text-2xl uppercase" title="홈 페이지로 이동합니다.">
      jspark.dev
    </a>
    <ul class="gap-3 flex">
      {
        socialList.map(social => (
          <li>
            <SocialLink {...social} />
          </li>
        ))
      }
    </ul>
  </nav>
  <ScrollWatcher />
</header>