---
import SocialLinks from "./SocialLinks.astro";
---

<nav class="flex items-center justify-between mb-6">
  <div class="space-x-2">
    <a href="/" class="hover:text-sky-400">Home</a>
    <a href="/posts" class="hover:text-sky-400">Posts</a>
    <a href="/projects" class="hover:text-sky-400">Projects</a>
  </div>
  <SocialLinks />
</nav>
