---
import ShowDate from './ShowDate.astro';

interface Props {
  title: string;
  updatedAt: Date;
}

const { title, updatedAt } = Astro.props;
---

<div class="flex justify-between">
  <h2>{title}</h2>
  <span class="hidden landscape:block"><ShowDate date={updatedAt} /></span>
</div>