---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div class="border-2 hover:border-dashed rounded-3xl py-8 px-10">
  <h1 class="font-extrabold text-2xl pb-2">{title}</h1>
  <p class="text-md">{description}</p>
</div>