<div
  class="prose text-white prose-xl prose-headings:text-white prose-code:before:content-none prose-code:after:content-none prose-blockquote:text-slate-400 prose-code:text-yellow-300"
  transition:name="content"
>
  <slot />
</div>
