---
import { Icon } from 'astro-icon/components'

interface Props {
	icon: string
	name: string
}

const { icon, name } = Astro.props
const size = 30
---

<div class="flex items-center gap-3 bg-slate-600 text-white py-3 px-5 rounded-xl mt-4">
  <Icon name={icon} size={size} />
  <span class="antialiased">{name}</span>
</div>
