---
import { Icon } from "astro-icon/components";

const socialList = [
  { label: "Github", icon: "github", href: "https://github.com/jsparkdev" },
  { label: "Twitter", icon: "twitter", href: "https://x.com/jsparkdev" },
  {
    label: "Linkedin",
    icon: "linkedin",
    href: "https://www.linkedin.com/in/jsparkdev/?locale=en_US",
  },
];
---

<ul class="flex gap-4 items-center">
  {
    socialList.map((social) => (
      <li>
        <a href={social.href} title={social.label} class="hover:text-slate-300">
          <Icon name={`mdi:${social.icon}`} size={24} />
        </a>
      </li>
    ))
  }
</ul>
