---
import { Icon } from "astro-icon/components";

interface Props {
	href: string;
	title: string;
	name: string;
}

const { href, title, name } = Astro.props;
const size = 30;
---

<a target="_blank" href={href} title={title}>
  <Icon name={name} size={size} />
</a>