---
import IconCard, { type IconCardProps } from '~/components/IconCard.astro'

const socialList: IconCardProps[] = [
	{ icon: 'logos:twitter', name: 'Twitter', href: 'https://x.com/jsparkdev' },
	{
		icon: 'logos:linkedin-icon',
		name: 'Linkedin',
		href: 'https://linkedin.com/in/jsparkdev',
	},
	{
		icon: 'logos:github-icon',
		name: 'Github',
		href: 'https://github.com/jsparkdev',
	},
]
---

<div class="flex gap-2 flex-wrap">
	{
		socialList.map(social => (
		<IconCard {...social} />
		))
	}
</div>