---
import { capital } from "~/utils/string";

interface Props {
  name: string;
}

const { name } = Astro.props;
---

<a
  href={`/tags/${name}`}
  class="bg-white bg-opacity-20 px-5 rounded-xl py-2 text-xl hover:bg-opacity-30 transition-color duration-300"
  title={`${capital(name)} 태그를 가진 게시물의 목록을 확인합니다.`}
>
  {capital(name)}
</a>
