---
import ProjectList from "~/components/ProjectList.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Projects - Junseong Park">
  <h1 class="mb-10" transition:name="project-title">Projects</h1>
  <ProjectList />
</Layout>
