---
import ProjectList from "~/components/ProjectList.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Projects - Junseong Park">
  <main>
    <h1 class="mb-8">Projects</h1>
    <ProjectList />
  </main>
</Layout>
