---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Overlay from "../components/Overlay.astro";
---

<body
  class="flex min-h-screen flex-col bg-gradient-to-br from-indigo-50 via-white to-pink-50"
>
  <Overlay />
  <Header />
  <main
    class="container mx-auto flex max-w-5xl flex-grow items-center justify-center px-4 py-12 sm:px-6 md:py-24 lg:px-8"
  >
    <slot />
  </main>
  <Footer />
</body>
