---
import "@fontsource-variable/jetbrains-mono";
import JetBrainsMonoWoff2 from "@fontsource-variable/jetbrains-mono/files/jetbrains-mono-latin-wght-normal.woff2?url";
const {
  frontmatter: { title, description },
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={JetBrainsMonoWoff2}
      crossorigin="anonymous"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  body {
    font-family: "JetBrains Mono Variable", monospace;
    padding: 1rem;
    max-width: 80ch;
    margin: auto;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 800;
  }
</style>
