---
import { ViewTransitions } from "astro:transitions";

interface Props {
  description: string;
  postsTitle?: string;
}

const { postsTitle, description } = Astro.props;
const title = postsTitle ? postsTitle : "Junseong Park | 박준성";
---

<!doctype html>
<html lang="ko-KR">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <ViewTransitions />
  </head>
  <body class="bg-[#011627] text-white p-10 flex justify-center">
    <div class="max-w-[1200px]">
      <slot />
    </div>
  </body>
</html>
