---
import { ViewTransitions } from "astro:transitions";
import Header from "~/components/Header.astro";
import "~/styles/tailwind.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ko-KR">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<main class="portrait:px-3 landscape:px-16 py-20">
			<slot />
		</main>
	</body>
</html>