---
import { ViewTransitions } from "astro:transitions";
import Header from "~/components/Header.astro";
import "~/styles/tailwind.css";

interface Props {
	title?: string;
	description?: string;
	canonicalPath?: string;
}

const { title, description, canonicalPath } = Astro.props;
---

<!doctype html>
<html lang="ko-KR">
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-MGK2CN8Z');</script>
		<!-- End Google Tag Manager -->
		<meta charset="UTF-8" />
		<meta name="description" content={description ?? "이 웹사이트는 TypeScript, React, Remix, Astro, Cloudflare 등 웹 애플리케이션을 구축하기 위해 사용되는 다양한 기술에 대한 지식과 경험을 공유합니다."} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="canonical" href=`${Astro.site}${canonicalPath ? canonicalPath : ""}` />
		<title>{title ? `${title} | Junseong Park` : `Home | Junseong Park`}</title>
		<ViewTransitions />
	</head>
	<body class="text-white">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MGK2CN8Z"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<Header />
		<main class="pt-40 pb-20 px-3 landscape:pt-32 landscape:px-16">
			<slot />
		</main>
	</body>
</html>