---
import '~/styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Junseong Park</title>
		<meta name="description" content="Junseong Park's personal website" />
    <link rel="manifest" href="/favicons/manifest.webmanifest">
    <link rel="icon" href="/favicons/favicon.ico" sizes="32x32">
    <link rel="icon" href="/favicons/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png">
		<link rel="preload" href="/fonts/Inter.woff2" as="font" type="font/woff2" crossorigin="anonymous">
	</head>
	<body class="antialiased">
		<main class="py-16 px-4 max-w-800 xl:mx-auto">
			<slot />
		</main>
	</body>
</html>